<!DOCTYPE html>
<html lang="ko">
<head>
	<title> <?=$siteConfig['title']?> </title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=yes, target-densitydpi=medium-dpi">

	<meta charset="utf-8">
	<link rel="stylesheet" href="/styles/admin/init.css">
	<link rel="stylesheet" href="/styles/admin/layout.css">
	<link rel="stylesheet" href="/styles/font-awesome.min.css">
	<link rel="stylesheet" href="/styles/admin/bootstrap.min.css">
	<link rel="stylesheet" href="/styles/admin/datepicker.css">
	<script type="text/javascript" src="/scripts/jquery.js"></script>
	<script type="text/javascript" src="/scripts/TweenMax.min.js"></script>
	<script type="text/javascript" src="/scripts/melon.js"></script>
	<script type="text/javascript" src="/scripts/admin/bootstrap-datepicker.js"></script>
	<script type="text/javascript" src="/scripts/admin/bootstrap-datepicker.kr.js"></script>
	<script type="text/javascript" src="/ckeditor/ckeditor.js"></script>
</head>

<body>