    <!-- FOOTER -->
    <footer class="site-footer footer-opt-2">
        <div class="footer-column equal-container" style="display:none;">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-6 equal-elem">
                        <h3 class="title-of-section">About Us</h3>
                        <div class="contacts">
                            <p class="contacts-info">Nullam tristique tortor nibh, in viverra libero sollicitudin ac.
                                Suspendisse quis lacinia ipsum. Etiam scelerisque sit amet lectus quis lacinia. Sed.</p>
                            <span class="contacts-info info-address ">218 Fifth Avenue, HeavenTower NewYork City</span>
                            <span class="contacts-info info-phone">(+68) 123 456 7890</span>
                            <span class="contacts-info info-support">Hot-Support@Rhyssa.com</span>
                            <div class="socials">
                                <a href="#" class="social"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                <a href="#" class="social"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                <a href="#" class="social"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                                <a href="#" class="social"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                <a href="#" class="social"><i class="fa fa-vimeo" aria-hidden="true"></i></a>
                                <a href="#" class="social"><i class="fa fa-youtube" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 equal-elem">
                        <div class="links">
                            <h3 class="title-of-section">My account</h3>
                            <ul>
                                <li><a href="#">Sign In</a></li>
                                <li><a href="#">View Cart</a></li>
                                <li><a href="#">My Wishlist</a></li>
                                <li><a href="#">Terms & Conditions</a></li>
                                <li><a href="#">Contact us</a></li>
                                <li><a href="#">Track My Order</a></li>
                                <li><a href="#">Help</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 equal-elem">
                        <div class="links">
                            <h3 class="title-of-section">Information</h3>
                            <ul>
                                <li><a href="#">Specials</a></li>
                                <li><a href="#">New products</a></li>
                                <li><a href="#">Best sellers</a></li>
                                <li><a href="#">Our stores</a></li>
                                <li><a href="#">Contact us</a></li>
                                <li><a href="#">Sitemap</a></li>
                                <li><a href="#">Blog</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 equal-elem">
                        <div class="links">
                            <h3 class="title-of-section">Follow Us</h3>
                            <ul>
                                <li><a href="#">Facebook</a></li>
                                <li><a href="#">Instagram</a></li>
                                <li><a href="#">Twitter</a></li>
                                <li><a href="#">Pinterest</a></li>
                                <li><a href="#">Linkin</a></li>
                                <li><a href="#">Youtube</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright full-width">
            <div class="container">
                <!-- <div class="footer-secondary">
                    상호 : Market Of Material 대표: 조윤기   ㅣ대표전화 02-1234-5678 ㅣ 주소 : 서울시 강남구 역삼동 445-1 ㅣ 사업자등록번호 : 000-12-111112
                </div> -->
                <div class="copyright-right">
                    © Copyright 2019<span> Market of Material Web</span>. All Rights Reserved.
                </div>
            </div>
        </div>
    </footer><!-- end FOOTER -->
</div>
<a href="#" id="scrollup" title="Scroll to Top">Scroll</a>


<div class="main-sliding-1" style="left:-100%;">
    <span class="btn-close-common " style="float:right;"><i class="fa fa-times" aria-hidden="true"></i></span>
    <div class="user-info clearfix">
        <span class="guest-icon"><i class="fa fa-user"></i></span>
        <?php
			if($session['login']){
		?>
				<p class="uset-text"><?=$session['id']?></p>
			<?php
}
		else{
		?>
		<p class="uset-text" onclick="location.herf='/user/login'">로그인이 필요합니다.</p>
		<?php
		}		
		?>
    </div>
    <ul class="list-commu">
        <li><a href="/product/list" class="link-commu">구매</a></li>
        <li><a href="/product/add" class="link-commu">판매</a></li>
    </ul>
    <ul class="user-menu clearfix">
        <li>
            <div class="user-menu-icon">
                <span class="fa fa-search"></span>
            </div>
            <a href="#">최근검색</a>
        </li>
        <li>
            <div class="user-menu-icon">
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
            </div>
            <a href="#">관심매물</a>
        </li>
        <li>
            <div class="user-menu-icon">
                <i class="fa fa-file" aria-hidden="true"></i>
            </div>
            <a href="#">거래내역</a>
        </li>
    </ul>
    <ul class="vertical-menu-list">
        <li>
            <a href="#">MOM Fast Track Service</a>
        </li>
		<li>
        <a href="#" >MOM One Stop Trade</a>
        <!-- <span class="toggle-submenu hidden-md"></span> -->
        <!-- <div class="submenu parent-megamenu megamenu" style="max-width: 262px;">
            <div class="row">
                <div class="submenu-banner submenu-banner-menu-1">
                    <div class="col-md-4">
                        <div class="dropdown-menu-info">
                            <h6 class="dropdown-menu-title">Fashion WoMen’s</h6>
                            <div class="dropdown-menu-content">
                                <ul class="menu">
                                    <li class="menu-item"><a href="#">Wheels
                                    </a></li>
                                    <li class="menu-item"><a href="#">Tablets</a></li>
                                    <li class="menu-item"><a href="#">Audio &amp;
                                        Theater</a></li>
                                    <li class="menu-item"><a href="#">Bestseller</a>
                                    </li>
                                    <li class="menu-item"><a href="#">Top Rated</a></li>
                                    <li class="menu-item"><a href="#">Tires</a>
                                    </li>
                                    <li class="menu-item"><a href="#">Factory</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
    </li>
        <li><a href="#">MOM Trade in Trust</a></li>
    </ul>

</div>

<div id="fog">
	
</div>
<style>
	#fog{
	top: 0;
	left: 0;
	display: none;
	position: fixed;
	z-index:2000;
	width: 100%;
	height: 100%;
background: rgba(0,0,0,0.5);
}

</style>
<!-- jQuery -->
<script>
	$('#left_member_menu').click(function(){
		$('.main-sliding-1').animate({left : 0});
		$('#fog').fadeIn();
	});
	$('.btn-close-common,#fog ').click(function(){

		TweenMax.to('.main-sliding-1',1,{left:'-100%'});
		TweenMax.to('.main-sliding-2',1,{left:'-100%'});
		TweenMax.to('.main-sliding-3',1,{left:'-100%'});
		$('#fog,.layer').fadeOut();
		return false;
	});


		 $('.datepicker').datepicker({ format: 'yyyy-mm-dd',autoclose:true,todayBtn:true,language:'kr'});
			 $('.datepicker-month').datepicker({ format: 'yyyy-mm',autoclose:true,todayBtn:true,language:'kr', viewMode: "months", 
    minViewMode: "months", startView: "months", 
    minViewMode: "months"});
			 $('.datepicker').each(function(){
				if($(this).val()=='0000-00-00 '){
					$(this).val('');

				}
			 });
			 $('.datepicker-month').each(function(){
				if($(this).val()=='0000-00-00 '){
					$(this).val('');

				}
			 });

	</script>

<?php
if($param['now_login']){
?>
	<script>
		Swal.fire({
  title: '<strong>견적서 내용대로 주문하시겠습니까?</strong>',
  icon: 'info',
  html:
    '',
  showCloseButton: true,
  showCancelButton: true,
  focusConfirm: false,
  confirmButtonText:
    '<a href="#"  style="color:white;">확인</a>',
  confirmButtonAriaLabel: 'Thumbs up, great!',
  cancelButtonText:
    '취소',
  cancelButtonAriaLabel: 'Thumbs down'
}).then((result) => {
	
  if (result.value) {
	  $('#fog,#contentsWrap').fadeIn();
	setTimeout(function(){
		closeLoading();
		$('#pname').text($.trim($('.product_detail').eq(0).text()).substr(0,25)+'외 '+($('.product_detail').size()-1)+'건');
		$('#pay_price').text($('#tprice').text()+'원')
	},2500);
 // location.href='/user/estimate?order=1'
  }
})

	</script>
	<?php
}	
?>
</body>
</html>