<?php

$products=pageList('product_lists','user_no='.$session['login'],'',5,10,$param['page'],'?page=$page');
?>
	


	
	<table class="table" id="order_list">
			<tr>
				<th  style="width:150px;">
					상품번호

				</th>	
				<th  style="width:150px;">
					등록일

				</th>	
				<th>
					상품명

				</th>
				<th style="width:80px;">
					수량

				</th>
				<th  style="width:150px;">
					입금 후 <br>납기일

				</th>
		
			

			</tr>
			<?php

			if($products['length']==0){
				echo '<tr><td colspan="5">등록된 상품이 없습니다. [상품등록]에서 상품을 등록해주세요.</td></tr>';
			}
			foreach($products['list'] as $product){
				
				
			
			?>
			<tr data-no="<?=$product['order_no']?>">
					<td>
						<?=$product['product_id']?>

					</td>
					<td>
						<?=dateFormat($product['create_date'])?>

					</td>
					<td>
					
			
						<?php
				$product['details'] = jsonDecode($product['details']);
echo displayEssentialField($product['category'],$product['details']);
				?>


					</td>
					<td>
						<?=$product['amount']?>

					</td>
					<td>
						<?=$product['delivery_date']?>일 이내

					</td>
				
				

			</tr>
			<?php
			}	
			?>

	</table>



